$white_color: #fff;

.container {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  // color: $white_color;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.header {
  color: $white_color;
  background-image: linear-gradient(to bottom, #020917, #101725);
  height: 100px;
}

.canvas-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;

  .canvas {
    height: 100%;
    width: 100%;
    flex: 1;
  }
}
